#paticka {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
  }

      
  .button {
background-color: #4CAF50;
border: none;
color: white;
padding: 9px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.5s;
cursor: pointer;
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('hledat.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}

.button1 {background-color: #008CBA;} /* Blue */
.button1 {font-size: 13px;}
.button1 {border-radius: 8px;}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}
.button2 {background-color: #008CBA;} /* Blue */
.button2 {font-size: 13px;}
.button2 {border-radius: 8px;}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {background-color: #008CBA;} /* Blue */
.button3 {font-size: 13px;}
.button3 {border-radius: 8px;}
.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}
.buttonA:disabled{
  background-color: red;
}
.button4 {background-color: #42df1a;} /* Blue */
.button4 {font-size: 13px;}
.button4 {border-radius: 8px;}
.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #42df1a;
}

.button4:hover {
  background-color: #42df1a;
  color: white;
}
.button5 {background-color: #42df1a;} /* Blue */
.button5 {font-size: 13px;}
.button5 {border-radius: 8px;}
.button5 {
  background-color: white; 
  color: black; 
  border: 2px solid #42df1a;
}

.button5:hover {
  background-color: #42df1a;
  color: white;
}
.button6 {background-color: #42df1a;} /* Blue */
.button6 {font-size: 13px;}
.button6 {border-radius: 8px;}
.button6 {
  background-color: white; 
  color: black; 
  border: 2px solid #42df1a;
}

.button6:hover {
  background-color: #42df1a;
  color: white;
}
.buttonB:disabled{
  background-color: red;
}
.button7 {background-color: #42df1a;} /* Blue */
.button7 {font-size: 13px;}
.button7 {border-radius: 8px;}
.button7 {
  background-color: white; 
  color: black; 
  border: 2px solid #00ddad;
}

.button7:hover {
  background-color: #00ddad;
  color: white;
}
.button8 {background-color: #42df1a;} /* Blue */
.button8 {font-size: 13px;}
.button8 {border-radius: 8px;}
.button8 {
  background-color: white; 
  color: black; 
  border: 2px solid #f7ac0a;
}

.button8:hover {
  background-color: #f7ac0a;
  color: white;
}

.button9 {background-color: #1a9adf;} /* Blue */
.button9 {font-size: 13px;}
.button9 {border-radius: 8px;}
.button9 {
  background-color: white; 
  color: black; 
  border: 2px solid #1a9adf;
}

.button9:hover {
  background-color: #1a9adf;
  color: white;
}

.button10 {background-color: #1a9adf;} /* Blue */
.button10 {font-size: 13px;}
.button10 {border-radius: 8px;}
.button10 {background-color: white; 
  color: black; 
  border: 2px solid #1a9adf;
}

.button10:hover {
  background-color: #1a9adf;
  color: white;
}

.button11 {background-color: #1a9adf;} /* Blue */
.button11 {font-size: 13px;}
.button11 {border-radius: 8px;}
.button11 {
  background-color: white; 
  color: black; 
  border: 2px solid #1a9adf;
}

.button11:hover {
  background-color: #1a9adf;
  color: white;
}
#tlacitkoZer:disabled{
  background-color: rgb(157, 103, 41);
}

.button12 {background-color: #941adf;} /* Blue */
.button12 {font-size: 13px;}
.button12 {border-radius: 8px;}
.button12 {
  background-color: white; 
  color: black; 
  border: 2px solid #941adf;
}

.button12:hover {
  background-color: #941adf;
  color: white;
}